// Container para dar flexbox horizontal
.h-container {
  width: 100%;
  display: flex; // crea contenedor de tipo flex
  flex-direction: row; // dirección de tipo flex
  justify-content: space-between;
}

.posts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 60%;
  padding-top: 1rem;
}

// Contenedor tipo aside con dirección en columnas
.aside-container {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  @media (min-width: 700px) {
    width: 38%;
  }
}

// section container estructura
.section {
  @include padding-4-sides($vertical-space-full-height-container, $horizontal-space-full-width);
}