.categoria {
  border-radius: $border-rounded;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &:not(:first-of-type) {
    margin-top: 1rem;
  }

  &__img {
    height: 100%;
    margin-left: 2rem;
    object-fit: cover;
  }

  &__text {
    font-size: 2rem;
    margin-right: 1rem;
    text-align: right;
    color: white;
    font-weight: 700;
  }

  &--html {
    background-color: $red;
  }

  &--js {
    background-color: $yellow;
  }

  &--css {
    background-color: $light-blue;
  }

  &--react {
    background-color: $grey;
  }

  &--vue {
    background-color: $green;
  }

  &--bootstrap {
    background-color: $purple
  }
}