// Logo BEM
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5rem;

  &__img {
    height: 100%;
    margin-right: 1.5rem;
    border-radius: $border-rounded;
    font-weight: 700;
    
  }

  &__title {
    font-weight: 700;
  }
}

// Clase modificadora logo
.logo--small {
  height: 3.5rem;
}