// BEM Pie de posts (info usuario)
.user {
  display: flex;
  margin-top: 0.8rem;
  flex-direction: row;
  align-self: baseline;
  align-items: center;
  height: 3rem;

  &__img {
    border-radius: 50%;
    height: 100%;
    margin-right: 1rem;
  }

  &__text {
    font-weight: 400;
  }
}

// Clase utilitaria
.user--small {
  height: 2rem;
}