.logo {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo__img {
  width: 55px;
  height: 55px;
  border-radius: 10px;
}

.logo__text {
  font-size: 24px;
  font-weight: 700;
  margin-left: 20px;
}