// Base colors
$black: #000000;
$red: #E93E30;
$yellow: #F7E018;
$light-blue: #299ED5;
$grey: #292C33;
$green: #67C770;
$purple: #563D7C;

$horizontal-post-height: 8rem;

$horizontal-space-full-width: 5rem;
$vertical-space-full-height-container: 2rem;