// Base colors
$black: #000000;
$red: #E93E30;
$yellow: #F7E018;
$light-blue: #299ED5;
$grey: #292C33;
$green: #67C770;
$purple: #563D7C;
$background-post: #eeeeee;

$horizontal-post-height: 8rem;

$border-rounded: 8px;

$horizontal-space-full-width: 5rem;
// Variable que añade padding vertical a containers de ancho completo
$vertical-space-full-height-container: 2rem; // TODO: Buscar nombre adecuado