// BEM Implementation
// Base colors
$black: #000000;
$red: #E93E30;
$yellow: #F7E018;
$light-blue: #299ED5;
$grey: #292C33;
$green: #67C770;
$purple: #563D7C;

$horizontal-post-height: 8rem;

// Reset & base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

html, body {
  font-family: 'Poppins', sans-serif;
  color: $black;
  font-weight: 500;
}


// Logo BEM
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 3rem;
  height: 5rem;

  &__img {
    height: 100%;
    margin-right: 1.5rem;
    border-radius: 4px;
    font-weight: 700;
    
  }

  &__title {
    font-weight: 700;
  }
}

// Clase utilitaria logo
.logo-small {
  height: 3.5rem;
}

// sections container
.section {
  border-top: solid 2px $grey;
  border-bottom: solid 2px $grey;
  padding: 2rem 5rem;
}

// Container para dar flexbox horizontal
.h-container {
  width: 100%;
  display: flex; // crea contenedor de tipo flex
  flex-direction: row; // dirección de tipo flex
  justify-content: space-between;
}

.posts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 60%;
  padding-top: 1rem;
}

// BEM Post Vertical
.v-post {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  @media (min-width: 700px) {
    width: 60%;
  }

  &__date {
    font-weight: 400;
    font-size: 0.9rem;
  }
  
  &__img {
    border-radius: 8px;
    margin-bottom: 1.5rem;
    object-fit: cover; // No deforma la imagen
  }
}

// Clase Utilitaria
.v-post-small {
  width: 18rem;

  // afecta el tamaño de la imagen si está
  // dentro de un post pequeño
  .v-post__img {
    height: 8rem;
  }
}

// Contenedor tipo aside con dirección en columnas
.aside-container {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  @media (min-width: 700px) {
    width: 38%;
  }
}

// BEM Categoria
.categoria {
  border-radius: 8px;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &:not(:first-of-type) {
    margin-top: 1rem;
  }

  &__img {
    height: 100%;
    margin-left: 2rem;
    object-fit: cover;
  }

  &__text {
    font-size: 2rem;
    margin-right: 1rem;
    text-align: right;
    color: white;
    font-weight: 700;
  }

  &--html {
    background-color: $red;
  }

  &--js {
    background-color: $yellow;
  }

  &--css {
    background-color: $light-blue;
  }

  &--react {
    background-color: $grey;
  }

  &--vue {
    background-color: $green;
  }

  &--bootstrap {
    background-color: $purple
  }
}

// BEM Post Horizontal
.h-post {
  display: flex;
  flex-direction: row;
  height: $horizontal-post-height;
  
  &:not(:first-of-type) {
    padding-top: 1rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    
  }

  &__img {
    height: 100%;
    border-radius: 8px;
    margin-right: 1rem;
    width: calc($horizontal-post-height + 0.5rem);
    object-fit: cover;
  }

  &__date {
    font-weight: 400;
    font-size: 0.8rem;
  }
}

// BEM Pie de posts (info usuario)
.user {
  display: flex;
  margin-top: 0.8rem;
  flex-direction: row;
  align-self: baseline;
  align-items: center;
  height: 3rem;

  &__img {
    border-radius: 50%;
    height: 100%;
    margin-right: 1rem;
  }

  &__text {
    font-weight: 400;
  }
}

// Clase utilitaria
.user-small {
  height: 2rem;
}